.grid-container{
    display: flex;
    justify-content: space-around;
}

.grid{
    height: 25px;
    width: 25px;
    border: 1px solid black;
    border-right: none;
    border-bottom: none;
    float: left;

}

.new{
    clear: left;
}



.miss{
    background-color: blue;
}

.hit{
    background-color: red;
}

.hover:hover{
    cursor: pointer;
    border: 2px solid greenyellow;
}

.myships{
    background-color: rgb(0, 0, 0);
    width: 26px;
    cursor: move;
    display: inline-block;
    margin-left: 1px solid black;
}

.carrier{
    height: 135px;
}

.battleship{
    height: 100px;
}

.cruiser{
    height: 75px;
}

.submarine{
    height: 75px;
}

.destroyer{
    height: 50px
}

.dragging{
    background-color: rgb(54, 255, 4);
}

.shipContainer{
    display: flex;
    justify-content: space-around;
    width: 300px;
    color: greenyellow;
}